* {
    background-color: dimgray;
}

.title {
    color: #e8e8e8;
}

.category-list > li > details > summary {
    border-color: #e8e8e8;
}

.category-list > li > details > ul > li {
    border-color: #e8e8e8;
}