h1 {
    text-decoration: underline;
}

input {
    margin-bottom: 1em;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
    height: 5em;
}

#status {
    margin-left: 1em;
    font-size: 2em;
}